@import "source/scss/mixin.scss";
@import "source/scss/nullstyle.scss";

$main: #191919;

@font-face {
	font-family: 'Segoe';
	src: url('fonts/segoesc.eot');
	src: url('fonts/segoesc.woff') format('woff'), url('fonts/segoesc.ttf') format('truetype'), url('fonts/segoesc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
body._lock {
    overflow: hidden;
}
a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
// Container
.container {
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        width: 100%;
        padding: 0 15px;
    }
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 79px 1fr;
    grid-template-areas: "header header"
                         "side content";

    @media (max-width: 950px)  {
        grid-template-columns: 50px 1fr;
        grid-template-rows: 67px 1fr;
    }

    @include mobile5s {
        grid-template-columns: 0 1fr;
    }
}
// HEADER   
.header {
    grid-area: header;
    background-color: $main;
}
.header__body {
    display: flex;
    align-items: center;
    padding: 25px 0;

    @media (max-width: 950px)  {
        padding: 15px 0;
    }

    @media (max-width:700px) {
        justify-content: space-between;
    }
}
// burger
.burger {
    position: relative;
    display: none;
    width: 42px;
    z-index: 44;
    cursor: pointer;

    &:after, &:before, & span {
        background: #fff;
        content: "";
        display: block;
        height: 3px;
        border-radius: 3px;
        margin: 7px 0;
        transition: 0.5s;
    }
    
    @media (max-width:700px) {
        display: block;
    }
}

.burger._active:after {
    transform: translateY(-8px) rotate(-135deg);
}
.burger._active:before {
    transform: translateY(8px) rotate(135deg);
}
.burger._active span {
    transform: scale(0);
}
.burger._active:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}
// End Burger
.logo {
    max-width: 10.417vw;
    
    @include mobile5s {
        max-width: 25vw;
    }
}
.logo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
// Burger menu
.header__nav {
    display: flex;
    align-items: center;
    margin: auto;

    @media (max-width:700px) {
        position: fixed;
        top: -100%;
    }
}
.nav._active {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #191919; 
    padding: 20% 0 0 0;
    z-index: 22;
}
.nav._active .header__item  {
    margin: 0 0 10px 0;
}
.nav._active .header__link {
    font-size: 24px;
    line-height: normal;
}
.header__item._active {
    animation: fade 2.5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// end burger menu
.header__item:not(:last-child) {
    @include adaptiv-value("margin-right", 50, 0, 0);
}
.header__link {
    font-size: 14px;
    line-height: 16px;
}
.header__item {
    padding: 9px 0;
    border-bottom: 1px solid $main;
    transition: all .3s linear;
}
.header__item:hover {
    border-bottom: 1px solid #fff;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
    transition: all .3s linear;
}
.header__contacts {
    display: flex;
    align-items: center;
}
.header__contacts:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}
.contacts__img-link{
    @include mobile5s {
        display: none;
    }
}
.contacts__img {
    margin-right: 10px;
    width: 14px;
    height: 14px;
}
.contacts__img:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}
.contacts__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
// SECTION
.content {
    grid-area: content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 auto;
    height: 683px;
    background: url(img/bg.png) center / cover no-repeat;
    
    @include mobile {
        height: 550px;
    }
    @include mobile5s {
        height: 450px;
    }
}
.content__title {
    font-family: "Garamond";
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 22px;
    opacity: 0;
    transform: translateY(150%);
   
    @include mobile {
        font-size: 5.556vw;
        line-height: 6vw;
    }
    @include mobile5s {
        font-size: 24px;
        line-height: 35px;
    }
}
.content__title._active {
    opacity: 1;
    transform: translateY(0);
    transition: all .8s linear;
}
.content__text {
    max-width: 510px;
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;
    opacity: 0;
    transform: translateY(120%);

    @include mobile5s {
        font-size: 16px;
        line-height: 20px;
    }
}
.content__text._active {
    opacity: 1;
    transform: translateY(0);
    transition: all .8s linear;
    transition-delay: 1s;
}
.btn {
    padding: 23px 50px;
    background-color: #fff;
    border-radius: 50px;
    opacity: 0;
    transform: translateY(120%);

    @include mobile {
        padding: 1.597vw 3.472vw;
    }
}
.content__btn._active {
    opacity: 1;
    transform: translateY(0);
    transition: all .8s linear;
    transition-delay: 1.3s;
}
.content__abs-img {
    position: absolute;
    right: 0;
    bottom: -6%;
    max-width: 31.250vw;
    width: 100%;
    z-index: 2;
}
.content__abs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content__abs-logo {
    max-width: 10.139vw;
    width: 100%;
    position: absolute;
    top: -1.375vw;
    left: -1.861vw;
    @include desktop {
        max-width: 7vw;
    }
    @include mobile5s {
        display: none;
    }
}
.content__abs-logo:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}
.content__abs-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side {
    grid-area: side;
    background-color: $main; 
    max-width: 100px;
    width: 100%;
    height: 100%;  
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width:950px) {
        padding: 0 20px;
    }
    @media (max-width:900px) {
        padding: 0 10px;
    }

    @include mobile5s {
        display: none;
    }
}
.side__title {
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    color: #E1DECE;
    transform: rotate(-90deg);
    margin: 13.889vw 0 2.778vw 0px;
    letter-spacing: 1.5px;

    @include mobile {
        font-size: 12px;
    }
}
.side__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7vw;

    @media (min-width:1441px) {
        padding-bottom: 100px;
    }
}
.side__item  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.side__item {
    max-width: 30px;
    margin-bottom: 10px;

    @include mobile {
        max-width: 20px;
    }
}
.side__item:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}


// PROJECTS

.projects {
    background-color: $main;
    position: relative;
}
.projects__title {
    font-family: 'Garamond';
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #E1DECE;
    text-align: center;
    padding: 80px 0 40px;
    border-bottom: 1px solid #E1DECE;

    @include mobile {
        font-size: 8.444vw;
    }
    @include mobile5s {
        padding: 40px 0 20px;
    }
}
.gallery {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    padding-top: 35px;
    column-gap: 25px;
    margin-bottom: 50px;

    @include mobile {
        gap: 15px;
    }
}
.gallery__item {
    position: relative;
    max-width: 370px;
    width: 100%;
    margin-bottom: 100px;

    @include mobile {
        margin-bottom: 0;
    }
}
.gallery__item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.gallery__link {
    background-color: rgba(255,255,255, 0);
}   
.gallery__link:hover {
    &:after {
        content: 'Смотреть проект';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .5);
        display: flex;
        justify-content: center;
        align-items:flex-end;
        font-size: 26px;
        padding-bottom: 50px;
        text-transform: uppercase;
        animation: darken .6s forwards;

        @include mobile {
            font-size: 16px;
            padding-bottom: 15px;
        }

        @include mobile5s {
            font-size: 2.667vw;
        }
        @media (max-width:370px) {
            content: 'Смотреть';
            font-size: 3.667vw;
            padding-bottom: 5px;
        }
    }
}
@keyframes darken {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.text-el {
    padding: 25px 0;
    text-align: center;
    @include mobile {
        padding: 0;
    }
}
.text-el__title {
    font-family: 'Garamond';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
    @include mobile {
        display: none;
    }
}
.text-el__text {
    font-family: 'Garamond';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    @include mobile {
        display: none;
    }
}
.projects__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;

    @include mobile {
        margin-bottom: 16.667vw;
    }
    @include mobile5s {
        margin-bottom: 10.667vw;
    }
}
.projects__button {
    font-family: 'Garamond';
    line-height: 16px;
    color: #E1DECE;
    cursor: pointer;
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #E1DECE;

    @include mobile {
        padding: 2.222vw 5.556vw;
    }
}
.projects__button:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}
.projects__button._big {
    padding: 20px 29px;
    @include adaptiv-value("margin-left", 75, 20, 0);

    @include mobile {
        padding: 2.222vw 3.222vw;
    }
}
.projects__benefit-text {
    margin: 0 auto;
    font-family: 'Garamond';
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E1DECE;

    @include mobile {
        font-size: 4.444vw;
        line-height: 6vw;
    }
}
.projects__abs-img._left {
    position: absolute;
    top: 66.611vw;
    left: 0;

    @include desktop {
        top: 50vw;
        left: 10vw;
    }
    @include tablet {
        display: none;
    }
}
.projects__abs-img._right {
    position: absolute;
    bottom: 37.333vw;
    right: -16vw;

    @include desktop {
        bottom: 27.333vw;
        right: 6vw;
    }
    @include tablet {
        display: none;
    }
}
// slider 
.slider {
    background-color: $main;
}
.slide {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;

    @include mobile {
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;
    }
    @include mobile5s {
        align-items: stretch;
    }
}
.slide__img {
    max-width: 35.903vw;
    width: 100%;

    @include mobile {
        max-width: 589px;
        margin-bottom: 20px;
    }

}
.slide__img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.text-block {
    padding-left: 40px;

    @include tablet {
        padding-left: 20px;
    }
    
    @include mobile {
        flex: 1 1 100%;
        padding-left: 0;
    }
}
.text-block__paragraph {
    max-width: 589px;
    width: 100%;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 26, 20, 0);

    @include mobile5s {
        display: none;
    }
}
.text-block__paragraph:not(:last-child) {
    margin-bottom: 30px;
}
.text-block__paragraph:last-child {
    margin-bottom: 50px;
}
.text-block__achivments {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.text-block__achivment {
    display: flex;
    align-items: center;
}
.vertical-text {
    flex-grow: 0;
    @include adaptiv-value("font-size", 12, 10, 0);
    @include adaptiv-value("line-height", 14, 12, 0);
    text-transform: uppercase;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    overflow: hidden;
    @include mobile5s {
        font-size: 2vw;
        line-height: normal;
    }
}
.achivment-number {
    @include adaptiv-value("font-size", 45, 32, 0);
    @include adaptiv-value("line-height", 53, 46, 0);
    text-transform: uppercase;
    color: #E1DECE;
    margin: 0 5px;

    @include mobile5s {
        font-size: 6vw;
        line-height: normal;
        margin: 0 0.5vw;
    }
}
.benefit {
    @include adaptiv-value("font-size", 12, 10, 0);
    @include adaptiv-value("line-height", 14, 12, 0);
    text-transform: uppercase;

    @include mobile5s {
        font-size: 2vw;
        line-height: normal;
    }
}
.slider-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mission-text {
    font-family: 'Segoe';
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #E1DECE;
    margin-right: 50px;
}
.slider .projects__buttons {
    padding: 100px 0;
    margin-bottom: 0;

    @include mobile5s {
        padding: 30px 0;
    }
}
.details {
    position: relative;
    background: url(img/15.png) center / cover; 
    &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: $main;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 50%);

        @include mobile5s {
            height: 200px;
        }
    }
}
.details-body {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.details__abs-img {
    position: absolute;
    top: 40px;
    left: 0;
    max-width: 72.917vw;
    z-index: 2;

    @include mobile5s {
        display: none;
    }
}
.details__abs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details__title {
    position: relative;
    max-width: 506px;
    width: 100%;
    font-family: 'Garamond';
    font-weight: 400;
    @include adaptiv-value("font-size", 40, 18, 0);
    @include adaptiv-value("line-height", 60, 24, 0);
    color: $main;
    padding-top: 20.361vw;
    z-index: 3;

    @media (min-width: 1440px) {
        padding-top: 13.361vw;
        max-width: 526px;
    }
    @include tablet {
        max-width: 430px;
    }
    @include mobile {
        max-width: 350px;
        font-size: 20px;
    }

    @include mobile5s {
        padding-top: 150px;
        max-width: 100%;
        text-align: center;
    }
}
.details__title span {
    font-weight: 700;
    text-transform: uppercase;
}
.details__text {
    max-width: 500px;
    width: 100%;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 26, 20, 0);
    color: #404040;
    padding: 20vw 0 10vw;
    
    @media (min-width: 1920px) {
        padding-top: 110px;
    }
    @media (min-width: 1440px) {
        max-width: 526px;
    }
    @include tablet {
        max-width: 430px;
        padding-bottom: 75px;
    }
    @include mobile {
        max-width: 350px;
        font-size: 16px;
        padding-bottom: 50px;
    }
    @include mobile5s {
        padding-top: 50px;
        max-width: 100%;
        text-align: center;
    }
}
.details__text:not(:last-child) p {
    display: block;
    margin-bottom: 40px; 

   @include mobile5s {
       margin-bottom: 15px;
   }
}
.details__text span {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;

    @include mobile {
        font-size: 18px;
    }
}

// slider 
.swiper-button-prev, .swiper-button-next {
    &:after, &:before {
        display: none;
    }
}
// Services
.services {
    position: relative;
    padding-bottom: 18.306vw;
    &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 80%;
        height: 300px;
        background-color: $main;
        clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
        @include tablet {
            clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
        }
        @include mobile5s {       
            height: 200px;
        }
    }
}
.services-body {
    display: flex;
    justify-content: center;

    @include mobile {
        flex-wrap: wrap;
    }
}
.service {
    background-color: $main;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
    padding: 40px 20px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-50%);
    transition: all .8s linear;
    transition-delay: .6s;

    @media (min-width:1441px) {
        max-width: 400px;
        width: 100%;
    }
    @include tablet {
        padding: 20px 10px;
        max-width: 22vw;
    }

    @include mobile {
        max-width: 33vw;
        margin-bottom: 10px;
        flex: 1 1 50%;
    }
}
.service._active {
    opacity: 1;
    transform: translateY(0);
    transition: all .8s linear;
}
.service._active:nth-child(1) {
    transition-delay: .2s;
}
.service._active:nth-child(2) {
    transition-delay: .4s;
}
.service._active:nth-child(3) {
    transition-delay: .6s;
}
.service._active:nth-child(4) {
    transition-delay: .8s;
}
.service:not(:last-child) {
    @include adaptiv-value("margin-right", 30, 10, 0);

    @include mobile {
        margin-right: 0;
    }
}
.service:first-child {
    @include mobile {
        margin-right: 10px;
    }
   
}
.service:last-child {
    @include mobile {
        margin-left: 10px;
    }
}   
.service__icon img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.service__icon {
    max-width: 133px;
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 25px;
    }

    @include mobile {
        margin-bottom: 15px;
        max-width: 7.665vw;
    }
    @include mobile5s {
        max-width: 12vw;
    }
}
.service__title {
    @include adaptiv-value("font-size", 18, 14, 0);
    @include adaptiv-value("line-height", 28, 20, 0);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

    @include tablet {
        font-size: 1.4vw;
    }
    @include mobile {
        font-size: 1.7vw;
        line-height: 2vw;
        margin-bottom: 0;
    }  
    @include mobile5s {
        font-size: 2.1vw;
        line-height: 3.5vw;
    }
}
.service__text {
    @include adaptiv-value("font-size", 14, 12, 0);
    @include adaptiv-value("line-height", 24, 18, 0);
    text-align: center;
    color: #CDCDCB;

    @include tablet {
        font-size: 12px;
    }

    @include mobile {
        display: none;
    }
}

// collections
.collections {
    position: relative;
    background-color: $main;
    &:after {
        content: "";
        position: absolute;
        bottom: -199px;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: $main;
        clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
        z-index: 1;
        @include mobile5s {
            height: 100px;
            bottom: -99px;
        }
    }
}
.collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-value("margin-bottom", 150, 75, 0);

    @include mobile5s {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}
.collection-body {
    @include mobile5s {
        padding: 20px 0;
    }
}
.collection:last-child {
    margin-bottom: 0;
}
.collection__images {
    position: relative; 
    max-width: 28.639vw;
    width: 100%;
    

    @media (min-width:1441px) {
        max-width: 470px;
    }

    @include mobile5s {
        margin-bottom: 10px;
        max-width: 60vw;
    }
}
.collection._right-box  .collection__abs-img {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.collection._left-box .collection__abs-img {
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.collection .collection__images {
    @include mobile5s {
        order: 1;
    }    
}
.collection .collection__text-box {
    @include mobile5s {
        order: 2;
        text-align: center;
        margin-bottom: 20px;
    } 
}
.collection__img {
    transition: transform .8s linear;
}
.collection__img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.collection__abs-img {
    max-width: 17.222vw;
    opacity: 1;
    transition: all .6s linear;

    @include mobile5s {
        display: none;

    }
}
.collection__abs-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.collection__text-box {
    max-width: 416px;
    width: 100%;
    @include mobile {
        max-width: 300px;
    }
}
.collection__category {
    display: block;
    font-size: 10px;
    line-height: 26px;
    text-transform: uppercase;
    color: #6E6E6E;
    margin-bottom: 18px;
    transition: all .3s linear;    

    @include mobile5s {
        margin-bottom: 15px;
        line-height: 12px;
    }
}
.collection__category:hover, .collection__title:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
    transition: all .3s linear;
}
.collection__images:hover .collection__img {
    transform: scale(1.05);
    overflow: hidden;
    transition: transform .8s linear;
}
.collection__images:hover .collection__abs-img {
    opacity: 0;
    transition: all .6s linear;
}
.collection__title {
    display: block;
    font-family: 'Garamond';
    font-weight: 700;
    @include adaptiv-value("font-size", 40, 18, 0);
    @include adaptiv-value("line-height", 46, 24, 0);
    color: #E1DECE;
    margin-bottom: 30px;
    transition: all .3s linear;

    @include mobile {
        br {
            display: none;
        }
        font-size: 22px;
        margin-bottom: 15px;
    }
}
.collection__text {
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 26, 18, 0);
    color: #C4C4C4;

    @include mobile {
        font-size: 12px;
        line-height: 20px;
    }
}
.collection._right-box:last-child {
    position: relative;
    z-index: 1;
    bottom: -40px;
    margin-top: -40px;
    z-index: 2;
}

// USefull
.usefull {
    position: relative;
    background: #e2d7d7;
    padding: 50px 0 0 0;
    &:after {
        content: '';
        position: absolute;
        bottom: -199px;
        left: 0;
        width: 100%;    
        height: 200px;
        background: #e2d7d7;
        z-index: 1;
        clip-path: polygon(0% 0%, 0 100%, 100% 0%);

        @include mobile5s {
            bottom: -99px;
            height: 100px;
        }
    }
}
.usefull-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
        align-items: stretch;
    }
}
.usefull__title {
    font-family: 'Garamond';
    @include adaptiv-value("font-size", 40, 18, 0);
    @include adaptiv-value("line-height", 60, 24, 0);
    color: $main;
    max-width: 621px;
    width: 100%;
    margin-bottom: 5.028vw;
    padding-top: 100px;

    @media (min-width:1441px) {
        font-size: 40px;
        margin-bottom: 130px;
    }
    @include tablet {
        max-width: 550px;
    }

    @include mobile {
        max-width: 300px;
        font-size: 20px;
        align-self: flex-end;
    }
    @include mobile5s {
        font-size: 18px;
        padding-top: 50px;
        text-align: center;
    }
    
}
.usefull__title span {
    font-weight: 700;
    text-transform: uppercase;
    @media (min-width:1441px) {
        font-size: 40px;
    }
}
.how-to {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
    }
}
.how-to__box {
    max-width: 370px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #101010;
    @include tablet {
        max-width: 100%;
    }
}
.how-to__box:not(:last-child){
    margin-right: 20px;
    @include tablet {
        margin-right: 0;
    }
}
.how-to__box:nth-child(1) {
    @include tablet {
        display: none;
    }
}
.how-to__box .strong {
    font-family: 'Garamond';
    font-weight: 700;
    @include adaptiv-value("font-size", 24, 18, 0);
    @include adaptiv-value("line-height", 36, 26, 0);
    color: #101010;
    margin-bottom: 40px;
    display: block;

    @include tablet {
        margin-bottom: 20px;
    }

    @include mobile {
        font-size: 16px;
        line-height: 20px;
        br {
            display: none;
        }
    }
}
.how-to__box span {
    font-family: 'Garamond';
    font-weight: 700;
    @include adaptiv-value("font-size", 24, 18, 0);
    @include adaptiv-value("line-height", 36, 26, 0);
    color: #101010;
}
.how-to__box p {
    color: #101010;
    @include adaptiv-value("font-size", 14, 10, 0);
    @include adaptiv-value("line-height", 20, 14, 0);
    margin-bottom: 20px;
}
// steps
.steps {
    background: url(img/steps_bg.png) center  no-repeat, $main;
    position: relative;
    padding: 150px 0;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: $main;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        @include mobile5s {
            height: 100px;
        }
    }
    @include mobile5s {
        padding: 100px 0 50px;
    }
}
.steps-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.steps__title  {
    max-width: 621px;
    width: 100%;
    font-family: 'Garamond';
    @include adaptiv-value("font-size", 40, 18, 0);
    @include adaptiv-value("line-height", 60, 24, 0);
    margin-bottom: 120px;

    @include tablet {
        margin-bottom: 8vw;
        font-size: 32px;
    }
    @include mobile {
        max-width: 400px;
        font-size: 3vw;
        align-self: flex-end;
    }
    @include mobile5s {
        font-size: 16px;
        max-width: 100%;
        align-self: stretch;
        text-align: center;
    }
}
.steps__title span {
    text-transform: uppercase;
    font-weight: 700;
}
.steps__step-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet {
        justify-content: space-around;
    }
}
.step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 308px;
    width: 100%;
    margin-bottom: 80px;
    opacity: 0;
    transform: scale(0.5);
    transition: all .8s linear;

    @include tablet {
      max-width: 250px;
      margin-bottom: 6.667vw;
      align-items: center;
    }
    @include mobile {
        margin-bottom: 30px;
    }
}
.step._active {
    opacity: 1;
    transform: scale(1);
    transition: all 1.2s linear;
}
.step._active:nth-child(1) {
    transition-delay: .2s;
}
.step._active:nth-child(2) {
    transition-delay: .2s;
}
.step._active:nth-child(3) {
    transition-delay: .2s;
}
.step._active:nth-child(4) {
    transition-delay: .4s;
}
.step._active:nth-child(5) {
    transition-delay: .4s;
}
.step._active:nth-child(6) {
    transition-delay: .4s;
}
.step__icon {
    max-width: 4.444vw;
    margin-bottom: 50px;

    @media (min-width: 1441px) {
        max-width: 64px;
    }
    @include tablet {
        margin-bottom: 3.472vw;
    }
    @include mobile {
        min-width: 25px;
        margin-bottom: 15px;
    }
}
.step__icon img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.step__title {
    font-weight: 700;
    @include adaptiv-value("font-size", 18, 12, 0);
    @include adaptiv-value("line-height", 21, 15, 0);
    text-transform: uppercase;
    margin-bottom: 1.389vw;
}
.step__text {
    @include adaptiv-value("font-size", 14, 10, 0);
    @include adaptiv-value("line-height", 24, 14, 0);
    color: #C4C4C4;
    @include tablet {
        text-align: center;
    }
    @include mobile {
        font-size: 1.333vw;
    }
    @include mobile5s {
        font-size: 12px;
    }
}
// Partners

.partners {
    position: relative;
    background-color: #191919;
}
.partners-body  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.partners__title {
    max-width: 622px;
    width: 100%;
    font-family: 'Garamond';
    @include adaptiv-value("font-size", 40, 18, 0);
    @include adaptiv-value("line-height", 60, 24, 0);
    margin-bottom: 160px;

    @include tablet {
        max-width: 530px;
        margin-bottom: 10.333vw;
    }

    @include mobile {
        max-width: 350px;
        font-size: 20px;
        line-height: 24px;
    }

    @include mobile5s {
        font-size: 19px;
        max-width: 100%;
        text-align: center;
    }
}
.partners__title span {
    text-transform: uppercase;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.icon img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.icon {
    max-width: 242px;
    width: 100%;
    transition: all .3s linear;
    @include tablet {
        max-width: 20.167vw;
    }
    @include mobile5s {
        min-width: 20vw;
    }
}
.icon:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
    transition: all .3s linear;
}
// FOOTER
.footer {
    background-color: #191919;
    padding: 50px 0;

    @include mobile5s {
        padding: 20px 0;
    }
}
.footer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile5s {
        align-items: flex-start;
    }
}
.contacts__item:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}
.contacts._footer {
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
   font-size: 15px;
   line-height: 18px;
   flex: 0 0 auto;
   margin-right: 20px;

   @include mobile5s {
       font-size: 12px;
   }
}
.contacts._footer .contacts__title, .place__title {
    margin-bottom: 15px;
}
.contacts._footer .contacts__phone span, .place__adress span {
    display: block;
    margin-bottom: 5px;
} 
.contacts._footer .contacts__phone, .place__adress {
    margin-bottom: 30px;
    color: #E1DECE;
}
.contacts._footer .contacts__phone {
    @include mobile5s {
        margin-bottom: 12px;
    }
    @media (max-width:374px) {
        margin-bottom: 40px;
    }
}
.socials__title {
    margin-bottom: 15px;
}
.contacts__list {
    display: flex;
    align-items: center;
}
.contacts__item {
    @include mobile5s {
        max-width: 25px;
    }
}
.contacts__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contacts__item:not(:last-child) {
    margin-right: 15px;

    @include mobile5s {
        margin-right: 7px;
    }
}
.place {
    @include mobile5s {
        font-size: 12px;
    }
}
.place__mail-title {
    margin-bottom: 20px;
}
.place__mail {
    padding-bottom: 25px;
}
.footer__map img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    @media (max-width:750px) {
        display: none;
    }
}
.footer__map {
    max-width: 39.653vw;

    @media (min-width: 1441px) {
        max-width: 571px;
    }
}