@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Segoe";
  src: url("fonts/segoesc.eot");
  src: url("fonts/segoesc.woff") format("woff"), url("fonts/segoesc.ttf") format("truetype"), url("fonts/segoesc.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
  grid-template-columns: 100px 1fr;
  -ms-grid-rows: 79px 1fr;
  grid-template-rows: 79px 1fr;
      grid-template-areas: "header header" "side content";
}
@media (max-width: 950px) {
  .grid-wrapper {
    -ms-grid-columns: 50px 1fr;
    grid-template-columns: 50px 1fr;
    -ms-grid-rows: 67px 1fr;
    grid-template-rows: 67px 1fr;
  }
  .grid-wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .grid-wrapper > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-wrapper > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
@media (max-width: 600px) {
  .grid-wrapper {
    -ms-grid-columns: 0 1fr;
    grid-template-columns: 0 1fr;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #191919;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}
@media (max-width: 950px) {
  .header__body {
    padding: 15px 0;
  }
}
@media (max-width: 700px) {
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.burger {
  position: relative;
  display: none;
  width: 42px;
  z-index: 44;
  cursor: pointer;
}
.burger:after, .burger:before, .burger span {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 700px) {
  .burger {
    display: block;
  }
}

.burger._active:after {
  -webkit-transform: translateY(-8px) rotate(-135deg);
          transform: translateY(-8px) rotate(-135deg);
}

.burger._active:before {
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
}

.burger._active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger._active:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

.logo {
  max-width: 10.417vw;
}
@media (max-width: 600px) {
  .logo {
    max-width: 25vw;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
@media (max-width: 700px) {
  .header__nav {
    position: fixed;
    top: -100%;
  }
}

.nav._active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #191919;
  padding: 20% 0 0 0;
  z-index: 22;
}

.nav._active .header__item {
  margin: 0 0 10px 0;
}

.nav._active .header__link {
  font-size: 24px;
  line-height: normal;
}

.header__item._active {
  -webkit-animation: fade 2.5s;
          animation: fade 2.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__item:not(:last-child) {
  margin-right: calc(0px + 50 * ((100vw - 320px) / 1120));
}

.header__link {
  font-size: 14px;
  line-height: 16px;
}

.header__item {
  padding: 9px 0;
  border-bottom: 1px solid #191919;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__item:hover {
  border-bottom: 1px solid #fff;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

@media (max-width: 600px) {
  .contacts__img-link {
    display: none;
  }
}

.contacts__img {
  margin-right: 10px;
  width: 14px;
  height: 14px;
}

.contacts__img:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

.contacts__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 683px;
  background: url(img/bg.png) center/cover no-repeat;
}
@media (max-width: 899px) {
  .content {
    height: 550px;
  }
}
@media (max-width: 600px) {
  .content {
    height: 450px;
  }
}

.content__title {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 22px;
}
@media (max-width: 899px) {
  .content__title {
    font-size: 5.556vw;
    line-height: 6vw;
  }
}
@media (max-width: 600px) {
  .content__title {
    font-size: 24px;
    line-height: 35px;
  }
}

.content__text {
  max-width: 510px;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-align: center;
}
@media (max-width: 600px) {
  .content__text {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn {
  padding: 23px 50px;
  background-color: #fff;
  border-radius: 50px;
}
@media (max-width: 899px) {
  .btn {
    padding: 1.597vw 3.472vw;
  }
}

.content__abs-img {
  position: absolute;
  right: 0;
  bottom: -6%;
  max-width: 31.25vw;
  width: 100%;
  z-index: 2;
}

.content__abs-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__abs-logo {
  max-width: 10.139vw;
  width: 100%;
  position: absolute;
  top: -1.375vw;
  left: -1.861vw;
}
@media (min-width: 1201px) {
  .content__abs-logo {
    max-width: 7vw;
  }
}
@media (max-width: 600px) {
  .content__abs-logo {
    display: none;
  }
}

.content__abs-logo:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

.content__abs-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side;
  background-color: #191919;
  max-width: 100px;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 950px) {
  .side {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .side {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .side {
    display: none;
  }
}

.side__title {
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #E1DECE;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 13.889vw 0 2.778vw 0px;
  letter-spacing: 1.5px;
}
@media (max-width: 899px) {
  .side__title {
    font-size: 12px;
  }
}

.side__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7vw;
}
@media (min-width: 1441px) {
  .side__list {
    padding-bottom: 100px;
  }
}

.side__item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.side__item {
  max-width: 30px;
  margin-bottom: 10px;
}
@media (max-width: 899px) {
  .side__item {
    max-width: 20px;
  }
}

.side__item:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

.projects {
  background-color: #191919;
  position: relative;
}

.projects__title {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #E1DECE;
  text-align: center;
  padding: 80px 0 40px;
  border-bottom: 1px solid #E1DECE;
}
@media (max-width: 899px) {
  .projects__title {
    font-size: 8.444vw;
  }
}
@media (max-width: 600px) {
  .projects__title {
    padding: 40px 0 20px;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
      grid-template: repeat(4, 1fr)/repeat(3, 1fr);
  padding-top: 35px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 50px;
}
@media (max-width: 899px) {
  .gallery {
    gap: 15px;
  }
}

.gallery__item {
  position: relative;
  max-width: 370px;
  width: 100%;
  margin-bottom: 100px;
}
@media (max-width: 899px) {
  .gallery__item {
    margin-bottom: 0;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__link {
  background-color: rgba(255, 255, 255, 0);
}

.gallery__link:hover:after {
  content: "Смотреть проект";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 26px;
  padding-bottom: 50px;
  text-transform: uppercase;
  -webkit-animation: darken 0.6s forwards;
          animation: darken 0.6s forwards;
}
@media (max-width: 899px) {
  .gallery__link:hover:after {
    font-size: 16px;
    padding-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .gallery__link:hover:after {
    font-size: 2.667vw;
  }
}
@media (max-width: 370px) {
  .gallery__link:hover:after {
    content: "Смотреть";
    font-size: 3.667vw;
    padding-bottom: 5px;
  }
}

@-webkit-keyframes darken {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes darken {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-el {
  padding: 25px 0;
  text-align: center;
}
@media (max-width: 899px) {
  .text-el {
    padding: 0;
  }
}

.text-el__title {
  font-family: "Garamond";
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}
@media (max-width: 899px) {
  .text-el__title {
    display: none;
  }
}

.text-el__text {
  font-family: "Garamond";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 899px) {
  .text-el__text {
    display: none;
  }
}

.projects__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}
@media (max-width: 899px) {
  .projects__buttons {
    margin-bottom: 16.667vw;
  }
}
@media (max-width: 600px) {
  .projects__buttons {
    margin-bottom: 10.667vw;
  }
}

.projects__button {
  font-family: "Garamond";
  line-height: 16px;
  color: #E1DECE;
  cursor: pointer;
  padding: 20px 50px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #E1DECE;
}
@media (max-width: 899px) {
  .projects__button {
    padding: 2.222vw 5.556vw;
  }
}

.projects__button:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

.projects__button._big {
  padding: 20px 29px;
  margin-left: calc(20px + 55 * ((100vw - 320px) / 1120));
}
@media (max-width: 899px) {
  .projects__button._big {
    padding: 2.222vw 3.222vw;
  }
}

.projects__benefit-text {
  margin: 0 auto;
  font-family: "Garamond";
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1DECE;
}
@media (max-width: 899px) {
  .projects__benefit-text {
    font-size: 4.444vw;
    line-height: 6vw;
  }
}

.projects__abs-img._left {
  position: absolute;
  top: 66.611vw;
  left: 0;
}
@media (min-width: 1201px) {
  .projects__abs-img._left {
    top: 50vw;
    left: 10vw;
  }
}
@media (max-width: 1200px) {
  .projects__abs-img._left {
    display: none;
  }
}

.projects__abs-img._right {
  position: absolute;
  bottom: 37.333vw;
  right: -16vw;
}
@media (min-width: 1201px) {
  .projects__abs-img._right {
    bottom: 27.333vw;
    right: 6vw;
  }
}
@media (max-width: 1200px) {
  .projects__abs-img._right {
    display: none;
  }
}

.slider {
  background-color: #191919;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
}
@media (max-width: 899px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .slide {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.slide__img {
  max-width: 35.903vw;
  width: 100%;
}
@media (max-width: 899px) {
  .slide__img {
    max-width: 589px;
    margin-bottom: 20px;
  }
}

.slide__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-block {
  padding-left: 40px;
}
@media (max-width: 1200px) {
  .text-block {
    padding-left: 20px;
  }
}
@media (max-width: 899px) {
  .text-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 0;
  }
}

.text-block__paragraph {
  max-width: 589px;
  width: 100%;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: calc(20px + 6 * ((100vw - 320px) / 1120));
}
@media (max-width: 600px) {
  .text-block__paragraph {
    display: none;
  }
}

.text-block__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.text-block__paragraph:last-child {
  margin-bottom: 50px;
}

.text-block__achivments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.text-block__achivment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-text {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
  line-height: calc(12px + 2 * ((100vw - 320px) / 1120));
  text-transform: uppercase;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  overflow: hidden;
}
@media (max-width: 600px) {
  .vertical-text {
    font-size: 2vw;
    line-height: normal;
  }
}

.achivment-number {
  font-size: calc(32px + 13 * ((100vw - 320px) / 1120));
  line-height: calc(46px + 7 * ((100vw - 320px) / 1120));
  text-transform: uppercase;
  color: #E1DECE;
  margin: 0 5px;
}
@media (max-width: 600px) {
  .achivment-number {
    font-size: 6vw;
    line-height: normal;
    margin: 0 0.5vw;
  }
}

.benefit {
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
  line-height: calc(12px + 2 * ((100vw - 320px) / 1120));
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .benefit {
    font-size: 2vw;
    line-height: normal;
  }
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mission-text {
  font-family: "Segoe";
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  color: #E1DECE;
  margin-right: 50px;
}

.slider .projects__buttons {
  padding: 100px 0;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .slider .projects__buttons {
    padding: 30px 0;
  }
}

.details {
  position: relative;
  background: url(img/15.png) center/cover;
}
.details:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #191919;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 50%);
}
@media (max-width: 600px) {
  .details:after {
    height: 200px;
  }
}

.details-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details__abs-img {
  position: absolute;
  top: 40px;
  left: 0;
  max-width: 72.917vw;
  z-index: 2;
}
@media (max-width: 600px) {
  .details__abs-img {
    display: none;
  }
}

.details__abs-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.details__title {
  position: relative;
  max-width: 506px;
  width: 100%;
  font-family: "Garamond";
  font-weight: 400;
  font-size: calc(18px + 22 * ((100vw - 320px) / 1120));
  line-height: calc(24px + 36 * ((100vw - 320px) / 1120));
  color: #191919;
  padding-top: 20.361vw;
  z-index: 3;
}
@media (min-width: 1440px) {
  .details__title {
    padding-top: 13.361vw;
    max-width: 526px;
  }
}
@media (max-width: 1200px) {
  .details__title {
    max-width: 430px;
  }
}
@media (max-width: 899px) {
  .details__title {
    max-width: 350px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .details__title {
    padding-top: 150px;
    max-width: 100%;
    text-align: center;
  }
}

.details__title span {
  font-weight: 700;
  text-transform: uppercase;
}

.details__text {
  max-width: 500px;
  width: 100%;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: calc(20px + 6 * ((100vw - 320px) / 1120));
  color: #404040;
  padding-top: calc(50px + 310 * ((100vw - 320px) / 1120));
  padding-bottom: calc(160px + 100 * ((100vw - 320px) / 1120));
}
@media (min-width: 1920px) {
  .details__text {
    padding-top: 110px;
  }
}
@media (min-width: 1440px) {
  .details__text {
    max-width: 526px;
  }
}
@media (max-width: 1200px) {
  .details__text {
    max-width: 430px;
    padding-bottom: 75px;
  }
}
@media (max-width: 899px) {
  .details__text {
    max-width: 350px;
    font-size: 16px;
    padding-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .details__text {
    padding-top: 50px;
    max-width: 100%;
    text-align: center;
  }
}

.details__text p {
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .details__text p {
    margin-bottom: 15px;
  }
}

.details__text span {
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .details__text span {
    font-size: 18px;
  }
}

.swiper-button-prev:after, .swiper-button-prev:before, .swiper-button-next:after, .swiper-button-next:before {
  display: none;
}

.services {
  position: relative;
  padding-bottom: 24.306vw;
}
.services:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 80%;
  height: 300px;
  background-color: #191919;
  -webkit-clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
}
@media (max-width: 1200px) {
  .services:after {
    -webkit-clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  }
}
@media (max-width: 600px) {
  .services:after {
    height: 200px;
  }
}

.services-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 899px) {
  .services-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service {
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 100%;
  padding: 40px 20px;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .service {
    padding: 20px 10px;
    max-width: 22vw;
  }
}
@media (max-width: 899px) {
  .service {
    max-width: 33vw;
    margin-bottom: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.service:not(:last-child) {
  margin-right: calc(10px + 20 * ((100vw - 320px) / 1120));
}
@media (max-width: 899px) {
  .service:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 899px) {
  .service:first-child {
    margin-right: 10px;
  }
}

@media (max-width: 899px) {
  .service:last-child {
    margin-left: 10px;
  }
}

.service__icon img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__icon {
  max-width: 133px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .service__icon {
    margin-bottom: 25px;
  }
}
@media (max-width: 899px) {
  .service__icon {
    margin-bottom: 15px;
    max-width: 7.665vw;
  }
}
@media (max-width: 600px) {
  .service__icon {
    max-width: 12vw;
  }
}

.service__title {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  line-height: calc(20px + 8 * ((100vw - 320px) / 1120));
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .service__title {
    font-size: 1.4vw;
  }
}
@media (max-width: 899px) {
  .service__title {
    font-size: 1.7vw;
    line-height: 2vw;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .service__title {
    font-size: 2.1vw;
    line-height: 3.5vw;
  }
}

.service__text {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
  line-height: calc(18px + 6 * ((100vw - 320px) / 1120));
  text-align: center;
  color: #CDCDCB;
}
@media (max-width: 1200px) {
  .service__text {
    font-size: 12px;
  }
}
@media (max-width: 899px) {
  .service__text {
    display: none;
  }
}

.collections {
  position: relative;
  background-color: #191919;
}
.collections:after {
  content: "";
  position: absolute;
  bottom: -199px;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #191919;
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
  z-index: 1;
}
@media (max-width: 600px) {
  .collections:after {
    height: 100px;
    bottom: -99px;
  }
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(75px + 75 * ((100vw - 320px) / 1120));
}
@media (max-width: 600px) {
  .collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .collection-body {
    padding: 20px 0;
  }
}

.collection:last-child {
  margin-bottom: 0;
}

.collection__images {
  position: relative;
  max-width: 32.639vw;
  width: 100%;
}
@media (min-width: 1440px) {
  .collection__images {
    max-width: 470px;
  }
}
@media (max-width: 600px) {
  .collection__images {
    margin-bottom: 10px;
    max-width: 60vw;
  }
}

.collection._right-box .collection__abs-img {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.collection._left-box .collection__abs-img {
  position: absolute;
  right: -50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

@media (max-width: 600px) {
  .collection .collection__images {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 600px) {
  .collection .collection__text-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-bottom: 20px;
  }
}

.collection__img {
  -webkit-transition: -webkit-transform 0.8s linear;
  transition: -webkit-transform 0.8s linear;
  transition: transform 0.8s linear;
  transition: transform 0.8s linear, -webkit-transform 0.8s linear;
}

.collection__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection__abs-img {
  max-width: 17.222vw;
  opacity: 1;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 600px) {
  .collection__abs-img {
    display: none;
  }
}

.collection__abs-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection__text-box {
  max-width: 416px;
  width: 100%;
}
@media (max-width: 899px) {
  .collection__text-box {
    max-width: 300px;
  }
}

.collection__category {
  display: block;
  font-size: 10px;
  line-height: 26px;
  text-transform: uppercase;
  color: #6E6E6E;
  margin-bottom: 18px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 600px) {
  .collection__category {
    margin-bottom: 15px;
    line-height: 12px;
  }
}

.collection__category:hover, .collection__title:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.collection__images:hover .collection__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.8s linear;
  transition: -webkit-transform 0.8s linear;
  transition: transform 0.8s linear;
  transition: transform 0.8s linear, -webkit-transform 0.8s linear;
}

.collection__images:hover .collection__abs-img {
  opacity: 0;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.collection__title {
  display: block;
  font-family: "Garamond";
  font-weight: 700;
  font-size: calc(18px + 22 * ((100vw - 320px) / 1120));
  line-height: calc(24px + 22 * ((100vw - 320px) / 1120));
  color: #E1DECE;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 899px) {
  .collection__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .collection__title br {
    display: none;
  }
}

.collection__text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  line-height: calc(18px + 8 * ((100vw - 320px) / 1120));
  color: #C4C4C4;
}
@media (max-width: 899px) {
  .collection__text {
    font-size: 12px;
    line-height: 20px;
  }
}

.collection._right-box:last-child {
  position: relative;
  z-index: 1;
  bottom: -40px;
  margin-top: -40px;
  z-index: 2;
}

.usefull {
  position: relative;
  background: #e2d7d7;
  padding: 50px 0 0 0;
}
.usefull:after {
  content: "";
  position: absolute;
  bottom: -199px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #e2d7d7;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0 100%, 100% 0%);
}
@media (max-width: 600px) {
  .usefull:after {
    bottom: -99px;
    height: 100px;
  }
}

.usefull-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 899px) {
  .usefull-body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.usefull__title {
  font-family: "Garamond";
  font-size: calc(18px + 22 * ((100vw - 320px) / 1120));
  line-height: calc(24px + 36 * ((100vw - 320px) / 1120));
  color: #191919;
  max-width: 621px;
  width: 100%;
  margin-bottom: 5.028vw;
  padding-top: 100px;
}
@media (min-width: 1441px) {
  .usefull__title {
    font-size: 40px;
    margin-bottom: 130px;
  }
}
@media (max-width: 1200px) {
  .usefull__title {
    max-width: 550px;
  }
}
@media (max-width: 899px) {
  .usefull__title {
    max-width: 300px;
    font-size: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 600px) {
  .usefull__title {
    font-size: 18px;
    padding-top: 50px;
    text-align: center;
  }
}

.usefull__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 1441px) {
  .usefull__title span {
    font-size: 40px;
  }
}

.how-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .how-to {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.how-to__box {
  max-width: 370px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #101010;
}
@media (max-width: 1200px) {
  .how-to__box {
    max-width: 100%;
  }
}

.how-to__box:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .how-to__box:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .how-to__box:nth-child(1) {
    display: none;
  }
}

.how-to__box .strong {
  font-family: "Garamond";
  font-weight: 700;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  line-height: calc(26px + 10 * ((100vw - 320px) / 1120));
  color: #101010;
  margin-bottom: 40px;
  display: block;
}
@media (max-width: 1200px) {
  .how-to__box .strong {
    margin-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .how-to__box .strong {
    font-size: 16px;
    line-height: 20px;
  }
  .how-to__box .strong br {
    display: none;
  }
}

.how-to__box span {
  font-family: "Garamond";
  font-weight: 700;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  line-height: calc(26px + 10 * ((100vw - 320px) / 1120));
  color: #101010;
}

.how-to__box p {
  color: #101010;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: calc(14px + 6 * ((100vw - 320px) / 1120));
  margin-bottom: 20px;
}

.steps {
  background: url(img/steps_bg.png) center no-repeat, #191919;
  position: relative;
  padding: 150px 0;
}
.steps:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #191919;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
@media (max-width: 600px) {
  .steps:after {
    height: 100px;
  }
}
@media (max-width: 600px) {
  .steps {
    padding: 100px 0 50px;
  }
}

.steps-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.steps__title {
  max-width: 621px;
  width: 100%;
  font-family: "Garamond";
  font-size: calc(18px + 22 * ((100vw - 320px) / 1120));
  line-height: calc(24px + 36 * ((100vw - 320px) / 1120));
  margin-bottom: 120px;
}
@media (max-width: 1200px) {
  .steps__title {
    margin-bottom: 8vw;
    font-size: 32px;
  }
}
@media (max-width: 899px) {
  .steps__title {
    max-width: 400px;
    font-size: 3vw;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 600px) {
  .steps__title {
    font-size: 16px;
    max-width: 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    text-align: center;
  }
}

.steps__title span {
  text-transform: uppercase;
  font-weight: 700;
}

.steps__step-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1200px) {
  .steps__step-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 308px;
  width: 100%;
  margin-bottom: 80px;
}
@media (max-width: 1200px) {
  .step {
    max-width: 250px;
    margin-bottom: 6.667vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 899px) {
  .step {
    margin-bottom: 30px;
  }
}

.step__icon {
  max-width: 4.444vw;
  margin-bottom: 50px;
}
@media (min-width: 1441px) {
  .step__icon {
    max-width: 64px;
  }
}
@media (max-width: 1200px) {
  .step__icon {
    margin-bottom: 3.472vw;
  }
}
@media (max-width: 899px) {
  .step__icon {
    min-width: 25px;
    margin-bottom: 15px;
  }
}

.step__icon img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.step__title {
  font-weight: 700;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  line-height: calc(15px + 6 * ((100vw - 320px) / 1120));
  text-transform: uppercase;
  margin-bottom: 1.389vw;
}

.step__text {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: calc(14px + 10 * ((100vw - 320px) / 1120));
  color: #C4C4C4;
}
@media (max-width: 1200px) {
  .step__text {
    text-align: center;
  }
}
@media (max-width: 899px) {
  .step__text {
    font-size: 1.333vw;
  }
}
@media (max-width: 600px) {
  .step__text {
    font-size: 12px;
  }
}

.partners {
  position: relative;
  background-color: #191919;
}

.partners-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.partners__title {
  max-width: 622px;
  width: 100%;
  font-family: "Garamond";
  font-size: calc(18px + 22 * ((100vw - 320px) / 1120));
  line-height: calc(24px + 36 * ((100vw - 320px) / 1120));
  margin-bottom: 160px;
}
@media (max-width: 1200px) {
  .partners__title {
    max-width: 530px;
    margin-bottom: 10.333vw;
  }
}
@media (max-width: 899px) {
  .partners__title {
    max-width: 350px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .partners__title {
    font-size: 19px;
    max-width: 100%;
    text-align: center;
  }
}

.partners__title span {
  text-transform: uppercase;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  max-width: 242px;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 1200px) {
  .icon {
    max-width: 20.167vw;
  }
}
@media (max-width: 600px) {
  .icon {
    min-width: 20vw;
  }
}

.icon:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer {
  background-color: #191919;
  padding: 50px 0;
}
@media (max-width: 600px) {
  .footer {
    padding: 20px 0;
  }
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .footer-body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contacts__item:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.87));
}

.contacts._footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 15px;
  line-height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .contacts._footer {
    font-size: 12px;
  }
}

.contacts._footer .contacts__title, .place__title {
  margin-bottom: 15px;
}

.contacts._footer .contacts__phone span, .place__adress span {
  display: block;
  margin-bottom: 5px;
}

.contacts._footer .contacts__phone, .place__adress {
  margin-bottom: 30px;
  color: #E1DECE;
}

@media (max-width: 600px) {
  .contacts._footer .contacts__phone {
    margin-bottom: 12px;
  }
}
@media (max-width: 374px) {
  .contacts._footer .contacts__phone {
    margin-bottom: 40px;
  }
}

.socials__title {
  margin-bottom: 15px;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .contacts__item {
    max-width: 25px;
  }
}

.contacts__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__item:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 600px) {
  .contacts__item:not(:last-child) {
    margin-right: 7px;
  }
}

@media (max-width: 600px) {
  .place {
    font-size: 12px;
  }
}

.place__mail-title {
  margin-bottom: 20px;
}

.place__mail {
  padding-bottom: 25px;
}

.footer__map img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 750px) {
  .footer__map img {
    display: none;
  }
}

.footer__map {
  max-width: 39.653vw;
}
@media (min-width: 1441px) {
  .footer__map {
    max-width: 571px;
  }
}